.container
  .row
    .span6.offset3
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %fieldset
          %legend= t('Sign in')
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              .alert
                %strong= "Warning!#{msg}"
          .control-group
            .control-label
              = f.label :email
            .controls
              = f.email_field :email
          .control-group
            .control-label
              = f.label :password
            .controls
              = f.password_field :password
          - if devise_mapping.rememberable?
            .control-group
              .controls
                %label.checkbox
                  = f.check_box :remember_me
                  = t '.remember_me'
          .form-action
            = f.submit 'Sign in', :class => 'btn btn-primary'
      = render 'users/shared/links'
