.row
  .span1.offset1
    %li.topic-avatar
      = image_tag topic.user.gravatar_url(:size => 50)
  .span6
    %li.topic
      .topic-info
        = raw topic.user.username
      .topic-admin-controllers
        - if topic.user == current_user
          = link_to raw("<i class=\"icon-trash icon-white\"></i>"), topic, :data => {:confirm => 'Are you sure?'}, :method => :delete
          = link_to raw("<i class=\"icon-edit icon-white\"></i>"), mercury_editor_path_helper(edit_topic_path(topic))
      .topic-content
        = raw topic.content
      .topic-reply-controllers
        = link_to raw("<i class=\"icon-comment icon-white\"></i>"), all_reply_path(topic), :method => :get, :remote => true, 
          'data-type' => 'json', :class => 'topic-replies'
      .topic-replies{'class' => "topic-replies-#{topic.id}", 'data-expended' => 'false'}
        .replies-content{'class' => "replies-content-#{topic.id}"}
        .reply-input{:class => "reply-input-#{topic.id}"}
