#main
  .container
    .row
      #operation-bar.span4.offset4
        - if user_signed_in?
          %section.box
            = link_to t('.new_topic'), mercury_edit_path_helper(new_topic_path), :class => 'btn btn-large btn-primary'
