.container
  .row
    .span6.offset3
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f|
        %fieldset
          %legend= t('Forgot your password?')
          = devise_error_messages!
          .control-group
            .control-label
              = f.label :email
            .controls
              = f.email_field :email
          .form-action
            = f.submit 'Send me reset password instructions', :class => 'btn btn-primary'
      = render 'users/shared/links'
