$bg-color: #f5ebf5;
@mixin right-pos {
  float: right;
  position: relative;
}

@mixin left-pos {
  float: left;
  position: relative;
}

body {
  padding-top: 60px;
  background-color: $bg-color;
}

.avatar {
  img {
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

li.avatar {
  img {
    margin-top: 17%;
  }
}

ol.no-style {
  list-style-type: none;
}

ul.no-style {
  list-style-type: none;
}

.row.dashboard {
  //background-color: #e4d1e0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 20px;
  margin: auto;
} 

.topic {
  clear: both;
  position: relative;
  margin: 30px 0px 0px 0px;
  padding: 15px 20px 5px 20px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-bottom: 0;

  word-wrap: break-word;
  background-color: #2c2c2c;

  color: #fdfdfd;
}

.topic-avatar {
  clear: both;

  margin: 32px 0px 0px 0px;
  position: relative;
  left: 30px;

  background-color: $bg-color;

  img {
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

.topic-content {
}

.topic-info {
  @include left-pos;

  font-size: 13px;
  font-weight: bold;

  min-height: 22px;
  margin-bottom: 15px;
  line-height: 20px;
  vertical-align: middle;

  -webkit-font-smoothing: antialiased;
}

.topic-admin-controllers {
  @include right-pos;

  i {
    margin-left: 5px;
    -webkit-user-select: none;
    khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;

    min-height: 22px;
    margin-bottom: 15px;
    line-height: 20px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
  }
}

.topic-content {
  margin-top:40px;
}

.topic-reply-controllers {
  @include right-pos;

  i {
    margin-top: 10px;
  }
}

.topic-replies {
  margin-top: 40px;
  
  .reply-text {
    width: 85%;
  }

  .reply-submit {
    @include right-pos;
  }
} 

