#topbar
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{'data-target' => '.nav-collapse', 'data-toggle' => 'collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => root_path} Orin
        .container.nav-collapse
          - if user_signed_in?
            %ul.nav
              %li.divider-vertical
              %li= link_to t('.new_topic'), mercury_editor_path_helper(new_topic_path)
            %ul.nav.pull-right
              %li.avatar= image_tag current_user.gravatar_url(:size => 30)
              %li= link_to current_user.email
              %li= link_to 'My info', edit_user_registration_path
              %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
          - else
            %ul.nav.pull-right
              %li= link_to 'Sign up', new_user_registration_path
              %li= link_to 'Sign in', new_user_session_path
