!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %title Orin
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    - if content_for? :head
      = yield :head
    = csrf_meta_tags

  %body
    = render :partial => 'layouts/flash_content'
    = render :partial => 'layouts/topbar'
    = yield
    = render :partial => 'layouts/footer'
