.container
  .row
    .span4.offset3
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f|
        %fieldset
          %legend= t("Edit #{resource_name.to_s.humanize}")
          = devise_error_messages!
          .control-group
            .control-label
              = f.label :username
            .controls
              = f.text_field :username
          .control-group
            .control-label
              = f.label :email
            .controls
              = f.email_field :email
          .control-group
            .control-label
              = f.label :password
              %i= t('(leave blank if you don\'t want to change it)')
            .controls
              = f.password_field :password, :autocomplete => 'off'
          .control-group
            .cntrol-label
              = f.label :password_confirmation
            .controls
              = f.password_field :password_confirmation
          .control-group
            .control-label
              = f.label :current_password
              %i= t('(we need your current password to confirm your changes)')
            .controls
              = f.password_field :current_password
          .form-action
            = f.submit 'Update', :class => 'btn btn-primary'
      %fieldset
        %legend= t('Cancel my account')
        .control-group
          .control-label
            %p Unhappy?
          .controls
            = link_to t('Cancel my account'), registration_path(resource_name), :data => { :confirm => 'Are you sure' }, :method => :delete
      = link_to 'Back', :back
    .span2
      %fieldset
        %legend= t('Portrait')
        .control-group
          .control-label
            %label= 'avatar'
          .controls
            .avatar= image_tag current_user.gravatar_url(:size => 160)
            %p= link_to t('.go-to-gravatar'), 'https://secure.gravatar.com/', :rel => 'external'

