.container
  .row
    .span6.offset3
      =form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        %fieldset
          %legend= t('Sign up')
          = devise_error_messages!
          .control-group
            .control-label
              = f.label :username
            .controls
              = f.text_field :username
          .control-group
            .control-label
              = f.label :email
            .controls
              = f.email_field :email
          .control-group
            .control-label
              = f.label :password
            .controls
              = f.password_field :password
          .control-group
            .control-label
              = f.label :password_confirmation
            .controls
              = f.password_field :password_confirmation
          .form-action
            = f.submit 'Sign up', :class => 'btn btn-primary'
      = render 'users/shared/links'
